In [1]:
# **ETL Project - Makeup**

In [2]:
import pandas as pd 
from sqlalchemy import create_engine
from config import DB_USER, DB_PASS

In [3]:
# **Connect to local database
engine = create_engine(f"postgresql://{DB_USER}:{DB_PASS}@localhost:5432/makeup")
conn= engine.connect()

In [4]:
## **Store shades CSV into a DataFrame**

In [5]:
csv_file = "../Data/shades.csv"
shades_data_df = pd.read_csv(csv_file)
shades_data_df.head()

,brand,brand_short,product,product_short,hex,h,s,v,l,group
0,Maybelline,mb,Fit Me,fmf,f3cfb3,26.0,0.26,0.95,86,2
1,Maybelline,mb,Fit Me,fmf,ffe3c2,32.0,0.24,1.00,92,2
2,Maybelline,mb,Fit Me,fmf,ffe0cd,23.0,0.20,1.00,91,2
3,Maybelline,mb,Fit Me,fmf,ffd3be,19.0,0.25,1.00,88,2
4,Maybelline,mb,Fit Me,fmf,bd9584,18.0,0.30,0.74,65,2

In [6]:
del shades_data_df['h']
del shades_data_df['s']
del shades_data_df['v']
del shades_data_df['l']
del shades_data_df['group']
shades_data_df.head()

        brand brand_short product product_short     hex
0  Maybelline          mb  Fit Me           fmf  f3cfb3
1  Maybelline          mb  Fit Me           fmf  ffe3c2
2  Maybelline          mb  Fit Me           fmf  ffe0cd
3  Maybelline          mb  Fit Me           fmf  ffd3be
4  Maybelline          mb  Fit Me           fmf  bd9584

In [7]:
renamed_shades_cleaned = shades_data_df.rename(columns={'brand': 'Brand', 'brand_short': 'Brand Shortname', 'product': 'Product', 'product_short': 'Product Shortname','hex':'Shade in Hexidecimal'})
shades_data_df = renamed_shades_cleaned
shades_data_df.head()

        Brand Brand Shortname Product Product Shortname Shade in Hexidecimal
0  Maybelline              mb  Fit Me               fmf               f3cfb3
1  Maybelline              mb  Fit Me               fmf               ffe3c2
2  Maybelline              mb  Fit Me               fmf               ffe0cd
3  Maybelline              mb  Fit Me               fmf               ffd3be
4  Maybelline              mb  Fit Me               fmf               bd9584

In [8]:
maybelline_df = shades_data_df.loc[shades_data_df['Brand'] =='Maybelline']
maybelline_df.head()

        Brand Brand Shortname Product Product Shortname Shade in Hexidecimal
0  Maybelline              mb  Fit Me               fmf               f3cfb3
1  Maybelline              mb  Fit Me               fmf               ffe3c2
2  Maybelline              mb  Fit Me               fmf               ffe0cd
3  Maybelline              mb  Fit Me               fmf               ffd3be
4  Maybelline              mb  Fit Me               fmf               bd9584

In [9]:
maybelline_unique_shades = maybelline_df['Shade in Hexidecimal'].unique()
maybelline_unique_shades

array(['f3cfb3', 'ffe3c2', 'ffe0cd', 'ffd3be', 'bd9584', 'eabda6',
       'fbd2ad', 'e2b597', 'e4b38e', 'b2856f', 'e8ba8c', 'f3b584',
       'f0b996', 'e3b082', 'eab181', '9d7359', 'e2aa7b', 'd99358',
       '9c744f', 'b18b65', '84583f', '7d5631', 'c07746', '643c27',
       'edcfb9', 'e1bba7', 'c1a07e', 'd09e7c', 'c7967d', 'c09578',
       '9d6f48', 'a86d40', '7f5c3b', '735642', '6b5041', '7d5c4d',
       '5c4433', '5e3a23', '5e4638', '3f2018', 'f7d1bc', 'f3b989',
       'f0ba81', 'ebba8a', 'd69c74', 'f9d0b0', 'fbd5bd', 'e7b9a2',
       'dcb297', 'e6b898', 'ebbf93', 'efb793', 'f3b27d'], dtype=object)

In [10]:
maybelline_shade_count = maybelline_df['Shade in Hexidecimal'].count()
maybelline_shade_count

54

In [11]:
maybelline_product = maybelline_df['Product'].unique()
maybelline_product

array(['Fit Me', 'Fit Me Matte'], dtype=object)

In [12]:
foundation_csv = "../Data/foundation_sales.csv"
foundation_sales_data_df = pd.read_csv(foundation_csv)
foundation_sales_data_df.head()

,"Leading foundation brands in the U.S. 2018, based on sales",Unnamed: 1
0,Leading foundation brands in the United States...,NaN
1,NaN,Million U.S. dollars
2,Maybelline Fit Me Matte + Poreless,58.8
3,Cover Girl Plus Olay Simply Ageless,56.4
4,Revlon ColorStay,53.3

In [13]:
cleaned_sales_data_df = foundation_sales_data_df.drop(foundation_sales_data_df.index[[0,1]])
reset_cleaned = cleaned_sales_data_df.reset_index()
cleaned_sales_data_df = reset_cleaned.drop(['index'], axis=1)
renamed_cleaned = cleaned_sales_data_df.rename(columns={"Leading foundation brands in the U.S. 2018, based on sales": "Leading foundation brands in the U.S. 2018", "Unnamed: 1": "Sales in Millions"})
cleaned_sales_data_df= renamed_cleaned
cleaned_sales_data_df

  Leading foundation brands in the U.S. 2018 Sales in Millions
0         Maybelline Fit Me Matte + Poreless              58.8
1        Cover Girl Plus Olay Simply Ageless              56.4
2                           Revlon ColorStay              53.3
3                         L'Oréal True Match              37.2
4                           Cover Girl Clean                31
5             Maybelline Dream Liquid Mousse              28.1
6                         CoverGirl TruBlend                27
7         Maybelline Fit Me Dewy Plus Smooth              26.9
8                    Neutrogena Healthy Skin              25.9
9               L'Oréal Infallible Pro Matte              25.3

In [14]:
## **Create new data with select columns**

In [15]:
top_foundation_brands_data_df = pd.value_counts(shades_data_df['Brand'])
top_foundation_brands_data_df

Maybelline          54
MAC                 42
Estée Lauder        42
Lancôme             40
Fenty               40
Make Up For Ever    40
L'Oréal             36
Beauty Bakerie      30
Bobbi Brown         30
bareMinerals        29
Revlon              22
Black Up            18
Laws of Nature      17
Addiction           17
Trim & Prissy       13
NARS                13
Covergirl + Olay    12
Black Opal          12
House of Tara       11
Elsas Pro           11
Shu Uemera          11
Hegai and Ester     10
RMK                  9
Iman                 8
Bharat & Doris       7
Shiseido             6
Dior                 6
Kate                 6
IPSA                 6
Kuddy                5
Nykaa                5
Lakmé                4
Lotus Herbals        4
Olivia               4
Colorbar             3
Blue Heaven          2
Name: Brand, dtype: int64

In [16]:
num_product_per_brand_df = pd.value_counts(shades_data_df['Product'])
num_product_per_brand_df

Studio Fix                42
Double Wear               42
Teint Idole               40
Fit Me                    40
PRO FILT'R                40
Ultra HD                  40
Skin Long-Wear            30
#1 CAKE MIX               30
barePRO                   29
Infalliable               22
ColorStay                 22
Matifying Fluid           18
The Foundation            17
Foxy Finish               17
Fit Me Matte              14
True Match                14
Liquid Foundation         13
Velvet Matte              13
Simply Ageless            12
True Color                12
Full Coverage             11
Oil Free                  11
Petal Skin Fluid          11
Photo Perfect             10
RMK Liquid                 9
Second to None             8
Hi - Def                   7
Synchro Skin               6
Flawless Finish            6
Diorskin Forever           6
Secret Skin Maker Zero     6
Matte Wear                 5
SKINgenius                 5
Invisible Finish           4
Foundation                 4
Make-Up Ecostay            4
Perfect Match              3
X Factor                   2
Name: Product, dtype: int64