In [1]:
# **ETL Project - Makeup**

In [2]:
import pandas as pd 
from sqlalchemy import create_engine
from config import DB_USER, DB_PASS

In [3]:
## **Store CSV into a DataFrame**

In [4]:
shades_data = "shades.csv"
shades_data_df = pd.read_csv(shades_data)
shades_data_df.head()

,brand,brand_short,product,product_short,hex,h,s,v,l,group
0,Maybelline,mb,Fit Me,fmf,f3cfb3,26.0,0.26,0.95,86,2
1,Maybelline,mb,Fit Me,fmf,ffe3c2,32.0,0.24,1.00,92,2
2,Maybelline,mb,Fit Me,fmf,ffe0cd,23.0,0.20,1.00,91,2
3,Maybelline,mb,Fit Me,fmf,ffd3be,19.0,0.25,1.00,88,2
4,Maybelline,mb,Fit Me,fmf,bd9584,18.0,0.30,0.74,65,2

In [5]:
## **Create new data with select columns**
del shades_data_df['h']
del shades_data_df['s']
del shades_data_df['v']
del shades_data_df['l']
del shades_data_df['group']
del shades_data_df['hex']
shades_data_df.head()

        brand brand_short product product_short
0  Maybelline          mb  Fit Me           fmf
1  Maybelline          mb  Fit Me           fmf
2  Maybelline          mb  Fit Me           fmf
3  Maybelline          mb  Fit Me           fmf
4  Maybelline          mb  Fit Me           fmf

In [6]:
modified_shades_data_df = shades_data_df[['brand', 'brand_short', 'product', 'product_short']].copy()
modified_shades_data_df.head()

        brand brand_short product product_short
0  Maybelline          mb  Fit Me           fmf
1  Maybelline          mb  Fit Me           fmf
2  Maybelline          mb  Fit Me           fmf
3  Maybelline          mb  Fit Me           fmf
4  Maybelline          mb  Fit Me           fmf

In [7]:
modified_shades_data_df.count()

brand            625
brand_short      625
product          625
product_short    625
dtype: int64

In [8]:
top_foundation_brands_data_df = pd.value_counts(modified_shades_data_df['brand'])
top_foundation_brands_data_df.head()

Maybelline          54
Est√©e Lauder        42
MAC                 42
Make Up For Ever    40
Fenty               40
Name: brand, dtype: int64

In [9]:
top_foundation_product_data_df = pd.value_counts(modified_shades_data_df['product'])
top_foundation_product_data_df.head()

Studio Fix     42
Double Wear    42
PRO FILT'R     40
Fit Me         40
Ultra HD       40
Name: product, dtype: int64

In [10]:
ratings_data = "ratings_Beauty.csv"
ratings_data_df = pd.read_csv(ratings_data)
ratings_data_df.head()

           UserId   ProductId  Rating   Timestamp
0  A39HTATAQ9V7YF  0205616461     5.0  1369699200
1  A3JM6GV9MNOF9X  0558925278     3.0  1355443200
2  A1Z513UWSAAO0F  0558925278     5.0  1404691200
3  A1WMRR494NWEWV  0733001998     4.0  1382572800
4  A3IAAVS479H7M7  0737104473     1.0  1274227200

In [11]:
ratings_product_data_df = pd.value_counts(ratings_data_df['ProductId'])
ratings_product_data_df

B001MA0QY2    7533
B0009V1YR8    2869
B0043OYFKU    2477
B0000YUXI0    2143
B003V265QW    2088
B000ZMBSPE    2041
B003BQ6QXK    1918
B004OHQR1Q    1885
B00121UVU0    1838
B000FS05VG    1589
B000142FVW    1558
B0046VGPHQ    1475
B001JKTTVQ    1468
B004INUWX0    1430
B000TKH6G2    1379
B0048O2R1E    1349
B00150LT40    1349
B003S516XO    1347
B00188IFHS    1341
B0056GDG90    1333
B00538TSMU    1330
B0069FDR96    1323
B006IBM21K    1163
B002WTC38O    1159
B006L1DNWY    1153
B001AO0WCG    1136
B007BLN17K    1135
B003UH0528    1108
B000UVZU1S    1105
B002LB75AO    1079
              ...
B00C50E9UU       1
B003BGUO2O       1
B003TRQF1Y       1
B000O7JGUE       1
B003SZM1RE       1
B0041TJRZK       1
B00JWMW7XA       1
B0006L3BHW       1
B007BHTE5W       1
B004USRYCU       1
B00B27QZEK       1
B005C6CV22       1
B000C1VYD4       1
B00DUWZE0Q       1
B007UJ0BIA       1
B00COT4D9O       1
B0037PLU0E       1
B00CBYDAOG       1
B00CPS6GEE       1
B002B5A87M       1
B00GD8551W       1
B00IQXUEZO       1
B007Z2JWYG       1
B00DVERMNK       1
B00APE2C9S       1
B0086HE4ZQ       1
B002D3YQOS       1
B006Q4W3KO       1
B00BJ0EF7O       1
B00HLVGDPM       1
Name: ProductId, Length: 249274, dtype: int64

In [12]:
ratings_user_data_df = pd.value_counts(ratings_data_df['UserId'])
ratings_user_data_df

A3KEZLJ59C1JVH    389
A281NPSIMI1C2R    336
A3M174IC0VXOS2    326
A2V5R832QCSOMX    278
A3LJLRIZL38GG3    276
ALQGOMOY1F5X9     275
AKMEY1BSHSDG7     269
A3R9H6OKZHHRJD    259
A1M04H40ZVGWVG    249
A1RRMZKOMZ2M7J    225
AENH50GW3OKDA     211
A34BZM6S9L7QI4    209
ALNFHVS3SC4FV     205
A2C58G8O40YC7T    186
A1TPW86OHXTXFC    182
AZ9JPUSCI0V49     173
ARYSDAZNRXN6G     172
A2GJX2KCUSR0EI    170
A1UQBFCERIP7VJ    168
A3TYR1ALBZ2EU9    164
ACZ94JB8BFMJ9     155
AEL6CQNQXONBX     154
A1MI1I73Z5J9MI    152
A1EAX5HVYV96EF    151
A2MUGFV2TDQ47K    150
A3BFDEBT5IV4UN    145
A19UTUEBWKIZFT    141
A2Y4S4CNGKF21S    139
A1F7YU6O5RU432    137
A1X64HF17UU8TX    135
                 ...
A2KAC58D94RDE9      1
A1Q8PS7V77K9GV      1
AGZ8OMUA85M1C       1
A3S97XTLCSBS2W      1
A1AEQRQJK0U37       1
A2WEKDLY4TN3W6      1
A1730MFELR79GW      1
AJO9M5F3TR17J       1
AD3KC799QM6MH       1
A34SWPMJJJVMBL      1
A2YUOA4WODB1IJ      1
AMIZKUG3FSE01       1
A2JYZZEOVNHUN5      1
A26SZ1S3ECKSTZ      1
A22NWM90WA1HPC      1
A1C7RL8VFSWBT       1
A2LK2FNJSVSYSN      1
A3V3JHK2ZHGBHE      1
A1I9N1NCZ0MI24      1
A2H4HAKOHJSRLD      1
A10727R0HAOFWA      1
A2480K4860AY25      1
A2V50XGG8SLEJJ      1
A38QFEUZ7LTW9Y      1
A3H9R5LVN8POJF      1
ADVVGOQ2O6U8F       1
A1W0ZNIT8YNDWN      1
A2YUSRFZRHO9IV      1
A21RKZAS155WR6      1
A3CGYB24LI1WGH      1
Name: UserId, Length: 1210271, dtype: int64

In [13]:
ratings_product_data_df[ratings_product_data_df('B00A6GDR8A')]

TypeError: 'Series' object is not callable

In [ ]:
## **Store data into a DataFrame** 
# Create a filtered dataframe from specific columns
#modified_shades_cols = ["brand", "brand_short", "product", "product_short","hex"]
#modified_shades_transformed= modified_shades_df[modified_shades_cols].copy()

# Rename the column headers
#premise_transformed = premise_transformed.rename(columns={"License Serial Number": "id",
                                                          "Premises Name": "premise_name",
                                                          "County ID Code": "county_id"})

# Clean the data by dropping duplicates and setting the index
#premise_transformed.drop_duplicates("id", inplace=True)
#premise_transformed.set_index("id", inplace=True)

#premise_transformed.head()

In [ ]:
#**need to find json data to connect with makeup csv data
#json_file='Data/'
#... = pd.read_json(json_file)
#....head()

In [ ]:
# **Clean DataFrame**

In [ ]:
# clean dataframe here

In [ ]:
# **Connect to local database
#connection_string = create_engine(f"postgresql://{DB_USER}:{DB_PASS}@localhost:5432/shades.csv")
#engine = create_engine.connect(f'postgresql://{connection_string}')